#############################################Core3S500E#################################################
#NET "clk_50MHz" LOC = "P184";

# Clock timing constraints
#NET "clk" TNM_NET = clk;
#TIMESPEC TS_clk = PERIOD "clk" 25 ns HIGH 50%;
NET "clk_cpu" TNM_NET = clk_cpu;
TIMESPEC TS_clk_cpu = PERIOD "clk_cpu" 50 ns HIGH 50%;
NET "clk_2cpu" TNM_NET = clk_2cpu;
TIMESPEC TS_clk_2cpu = PERIOD "clk_2cpu" 50 ns HIGH 50%;


NET "BOUTON_RST" LOC = "P101" ;
NET "led[0]" LOC =" P68" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
NET "led[1]" LOC = "P78" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
NET "led[2]" LOC = "P83" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
NET "led[3]" LOC = "P89" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;

################################################ Mother Board ########################################
# Clock 21.47727 MHz
NET "clk_21MHz" LOC = "P186" ;

# VGA output
NET "VGA_VSYNC" LOC = "p161" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
NET "VGA_HSYNC" LOC = "p202" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
NET "VGA_RED[4]" LOC = "p4" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
NET "VGA_RED[3]" LOC = "p2" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
NET "VGA_RED[2]" LOC = "p203" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
NET "VGA_RED[1]" LOC = "p200" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
NET "VGA_RED[0]" LOC = "p197" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
NET "VGA_GREEN[4]" LOC = "p193" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
NET "VGA_GREEN[3]" LOC = "p190" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
NET "VGA_GREEN[2]" LOC = "p187" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
NET "VGA_GREEN[1]" LOC = "p185" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
NET "VGA_GREEN[0]" LOC = "p180" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
NET "VGA_BLUE[4]" LOC = "p178" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
NET "VGA_BLUE[3]" LOC = "p172" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
NET "VGA_BLUE[2]" LOC = "p168" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
NET "VGA_BLUE[1]" LOC = "p165" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
NET "VGA_BLUE[0]" LOC = "p163" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;

# I2S Audio output
NET "BCK" LOC = "p205" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
NET "LRCK" LOC = "p3" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
NET "SDAT" LOC = "p5" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;

#Controllers
NET "Ctrl_D1" LOC = "p45" | IOSTANDARD = LVCMOS33 | PULLUP ;
NET "Ctrl_D2" LOC = "p39" | IOSTANDARD = LVCMOS33 | PULLUP ;
NET "Ctrl_Clk1" LOC = "p41" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
NET "Ctrl_Clk2" LOC = "p35" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
NET "Ctrl_Rst" LOC = "p48" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;

#PS2 Keyboard
NET "PS2_CLK" LOC = "p76" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
NET "PS2_DATA" LOC = "p82" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;

#Switches / Leds on NES Board
NET "Sw_Ld[0]" LOC = "P22" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
NET "Sw_Ld[1]" LOC = "P24" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
NET "Sw_Ld[2]" LOC = "P28" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
NET "Sw_Ld[3]" LOC = "P30" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
NET "Sw_Ld_E" LOC = "P33" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;

#External_SRAM1 (AS6C4008 512k x 8)
NET "SRAM1_add<18>" LOC = "p192" | IOSTANDARD = LVTTL | SLEW = FAST | DRIVE = 6 ;
NET "SRAM1_add<17>" LOC = "p150" | IOSTANDARD = LVTTL | SLEW = FAST | DRIVE = 6 ;
NET "SRAM1_add<16>" LOC = "p196" | IOSTANDARD = LVTTL | SLEW = FAST | DRIVE = 6 ;
NET "SRAM1_add<15>" LOC = "p152" | IOSTANDARD = LVTTL | SLEW = FAST | DRIVE = 6 ;
NET "SRAM1_add<14>" LOC = "p189" | IOSTANDARD = LVTTL | SLEW = FAST | DRIVE = 6 ;
NET "SRAM1_add<13>" LOC = "p153" | IOSTANDARD = LVTTL | SLEW = FAST | DRIVE = 6 ;
NET "SRAM1_add<12>" LOC = "p181" | IOSTANDARD = LVTTL | SLEW = FAST | DRIVE = 6 ;
NET "SRAM1_add<11>" LOC = "p145" | IOSTANDARD = LVTTL | SLEW = FAST | DRIVE = 6 ;
NET "SRAM1_add<10>" LOC = "p138" | IOSTANDARD = LVTTL | SLEW = FAST | DRIVE = 6 ;
NET "SRAM1_add<9>" LOC = "p147" | IOSTANDARD = LVTTL | SLEW = FAST | DRIVE = 6 ;
NET "SRAM1_add<8>" LOC = "p151" | IOSTANDARD = LVTTL | SLEW = FAST | DRIVE = 6 ;
NET "SRAM1_add<7>" LOC = "p179" | IOSTANDARD = LVTTL | SLEW = FAST | DRIVE = 6 ;
NET "SRAM1_add<6>" LOC = "p199" | IOSTANDARD = LVTTL | SLEW = FAST | DRIVE = 6 ;
NET "SRAM1_add<5>" LOC = "p9" | IOSTANDARD = LVTTL | SLEW = FAST | DRIVE = 6 ;
NET "SRAM1_add<4>" LOC = "p12" | IOSTANDARD = LVTTL | SLEW = FAST | DRIVE = 6 ;
NET "SRAM1_add<3>" LOC = "p16" | IOSTANDARD = LVTTL | SLEW = FAST | DRIVE = 6 ;
NET "SRAM1_add<2>" LOC = "p19" | IOSTANDARD = LVTTL | SLEW = FAST | DRIVE = 6 ;
NET "SRAM1_add<1>" LOC = "p23" | IOSTANDARD = LVTTL | SLEW = FAST | DRIVE = 6 ;
NET "SRAM1_add<0>" LOC = "p25" | IOSTANDARD = LVTTL | SLEW = FAST | DRIVE = 6 ;
NET "SRAM1_data<7>" LOC = "p162" | IOSTANDARD = LVTTL | SLEW = FAST | DRIVE = 6 ;
NET "SRAM1_data<6>" LOC = "p164" | IOSTANDARD = LVTTL | SLEW = FAST | DRIVE = 6 ;
NET "SRAM1_data<5>" LOC = "p167" | IOSTANDARD = LVTTL | SLEW = FAST | DRIVE = 6 ;
NET "SRAM1_data<4>" LOC = "p171" | IOSTANDARD = LVTTL | SLEW = FAST | DRIVE = 6 ;
NET "SRAM1_data<3>" LOC = "p177" | IOSTANDARD = LVTTL | SLEW = FAST | DRIVE = 6 ;
NET "SRAM1_data<2>" LOC = "p34" | IOSTANDARD = LVTTL | SLEW = FAST | DRIVE = 6 ;
NET "SRAM1_data<1>" LOC = "p31" | IOSTANDARD = LVTTL | SLEW = FAST | DRIVE = 6 ;
NET "SRAM1_data<0>" LOC = "p29" | IOSTANDARD = LVTTL | SLEW = FAST | DRIVE = 6 ;
NET "SRAM1_nCS1" LOC = "p135" | IOSTANDARD = LVTTL | SLEW = FAST | DRIVE = 6 ;
#NET "SRAM1_CS2" LOC = "p" | IOSTANDARD = LVTTL | SLEW = FAST | DRIVE = 6 ;
NET "SRAM1_nOE" LOC = "p140" | IOSTANDARD = LVTTL | SLEW = FAST | DRIVE = 6 ;
NET "SRAM1_nWE" LOC = "p146" | IOSTANDARD = LVTTL | SLEW = FAST | DRIVE = 6 ;

#External_SRAM2 (AS6C4008 512k x 8)
NET "SRAM2_add<18>" LOC = "p122" | IOSTANDARD = LVTTL | SLEW = FAST | DRIVE = 6 ;
NET "SRAM2_add<17>" LOC = "p127" | IOSTANDARD = LVTTL | SLEW = FAST | DRIVE = 6 ;
NET "SRAM2_add<16>" LOC = "p100" | IOSTANDARD = LVTTL | SLEW = FAST | DRIVE = 6 ;
NET "SRAM2_add<15>" LOC = "p109" | IOSTANDARD = LVTTL | SLEW = FAST | DRIVE = 6 ;
NET "SRAM2_add<14>" LOC = "p108" | IOSTANDARD = LVTTL | SLEW = FAST | DRIVE = 6 ;
NET "SRAM2_add<13>" LOC = "p112" | IOSTANDARD = LVTTL | SLEW = FAST | DRIVE = 6 ;
NET "SRAM2_add<12>" LOC = "p116" | IOSTANDARD = LVTTL | SLEW = FAST | DRIVE = 6 ;
NET "SRAM2_add<11>" LOC = "p115" | IOSTANDARD = LVTTL | SLEW = FAST | DRIVE = 6 ;
NET "SRAM2_add<10>" LOC = "p120" | IOSTANDARD = LVTTL | SLEW = FAST | DRIVE = 6 ;
NET "SRAM2_add<9>" LOC = "p119" | IOSTANDARD = LVTTL | SLEW = FAST | DRIVE = 6 ;
NET "SRAM2_add<8>" LOC = "p123" | IOSTANDARD = LVTTL | SLEW = FAST | DRIVE = 6 ;
NET "SRAM2_add<7>" LOC = "p126" | IOSTANDARD = LVTTL | SLEW = FAST | DRIVE = 6 ;
NET "SRAM2_add<6>" LOC = "p128" | IOSTANDARD = LVTTL | SLEW = FAST | DRIVE = 6 ;
NET "SRAM2_add<5>" LOC = "p133" | IOSTANDARD = LVTTL | SLEW = FAST | DRIVE = 6 ;
NET "SRAM2_add<4>" LOC = "p132" | IOSTANDARD = LVTTL | SLEW = FAST | DRIVE = 6 ;
NET "SRAM2_add<3>" LOC = "p144" | IOSTANDARD = LVTTL | SLEW = FAST | DRIVE = 6 ;
NET "SRAM2_add<2>" LOC = "p134" | IOSTANDARD = LVTTL | SLEW = FAST | DRIVE = 6 ;
NET "SRAM2_add<1>" LOC = "p137" | IOSTANDARD = LVTTL | SLEW = FAST | DRIVE = 6 ;
NET "SRAM2_add<0>" LOC = "p106" | IOSTANDARD = LVTTL | SLEW = FAST | DRIVE = 6 ;
NET "SRAM2_data<7>" LOC = "p98" | IOSTANDARD = LVTTL | SLEW = FAST | DRIVE = 6 ;
NET "SRAM2_data<6>" LOC = "p96" | IOSTANDARD = LVTTL | SLEW = FAST | DRIVE = 6 ;
NET "SRAM2_data<5>" LOC = "p93" | IOSTANDARD = LVTTL | SLEW = FAST | DRIVE = 6 ;
NET "SRAM2_data<4>" LOC = "p90" | IOSTANDARD = LVTTL | SLEW = FAST | DRIVE = 6 ;
NET "SRAM2_data<3>" LOC = "p94" | IOSTANDARD = LVTTL | SLEW = FAST | DRIVE = 6 ;
NET "SRAM2_data<2>" LOC = "p97" | IOSTANDARD = LVTTL | SLEW = FAST | DRIVE = 6 ;
NET "SRAM2_data<1>" LOC = "p99" | IOSTANDARD = LVTTL | SLEW = FAST | DRIVE = 6 ;
NET "SRAM2_data<0>" LOC = "p102" | IOSTANDARD = LVTTL | SLEW = FAST | DRIVE = 6 ;
NET "SRAM2_nCS1" LOC = "p107" | IOSTANDARD = LVTTL | SLEW = FAST | DRIVE = 6 ;
#NET "SRAM2_CS2" LOC = "p" | IOSTANDARD = LVTTL | SLEW = FAST | DRIVE = 6 ;
NET "SRAM2_nOE" LOC = "p113" | IOSTANDARD = LVTTL | SLEW = FAST | DRIVE = 6 ;
NET "SRAM2_nWE" LOC = "p129" | IOSTANDARD = LVTTL | SLEW = FAST | DRIVE = 6 ;

# Flash SPI PROM (M25P16) internal and exteral
NET "spi_dout" LOC = "p61" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET "spi_din" LOC = "p63" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET "spi_clk" LOC = "p65" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
	# This spi_cs selects the Flash on board
#NET "spi_cs" LOC = "p55" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
	# This spi_cs selects the external Flash to the board
NET "spi_cs" LOC = "p74" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;

##LCD Char 2x16 SPI
#NET "lcd_clk" LOC = "p15" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;
#NET "lcd_rst" LOC = "p11" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;
#NET "lcd_data" LOC = "p8" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST ;

#SD Card port
#NET "sd_dat" LOC = "p18" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
#NET "sd_dat3" LOC = "p15" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
#NET "sd_cmd" LOC = "p11" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
#NET "sd_clk" LOC = "p8" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;

#External bus
NET "Extb[0]" LOC = "p50" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET "Extb[1]" LOC = "p60" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET "Extb[2]" LOC = "p62" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET "Extb[3]" LOC = "p64" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET "Extb[4]" LOC = "p69" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET "Extb[5]" LOC = "p75" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
NET "Extb[6]" LOC = "p77" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST ;
